# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

xcuserdata/

Images/.DS_Store
Pods/
Podfile.lock
*.xcworkspace/xcuserdata/okolomiets.xcuserdatad/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
!xcshareddata



.DS_Store
.AppleDouble
.LSOverride

